<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Fokhrul Islam | Front-end Developer. I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations.A responsive design makes your website accessible to all users, regardless of their device."
    />
    <!-- Favicon CDN  -->
    <link
      rel="shortcut icon"
      href="../img/images/favicon.png"
      type="image/x-icon"
    />
    <!-- Bootstrap icon CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <title>Fokhrul Islam | Front-end Developer | MERN Stack Developer</title>
    <!-- Custom CSS  -->
    <link rel="stylesheet" href="../css/styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
      body {
        font-family: "Montserrat", sans-serif;
      }
      img {
        max-width: 100%;
      }
    </style>
  </head>
  <body class="bg-dark">
    <!-- Header Content  -->
    <header>
      <!-- Nav Section  -->
      <nav class="container mx-auto py-10">
        <div class="navbar">
          <div class="flex-1">
            <a
              href="../../index.html"
              class="text-4xl font-semibold text[linear-gradient(90deg, text-lightPrimary 0%, text-lightSecondary 100%)] cursor-pointer"
              >Fokhrul</a
            >
          </div>
          <div class="flex-none">
            <ul class="flex gap-10 items-center">
              <li>
                <a
                  href="project.html"
                  class="text-Primary hover:text-neutral-300"
                  >Project</a
                >
              </li>
              <li>
                <a
                  class="btn bg[linear-gradient(90deg, bg-lightPrimary , bg-lightSecondary )] text-dark px-12 hover:btn-info hover:border-transparent hover:text-neutral-800"
                  href="#"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Main Content   -->
    <main>
      <!-- Contact From  -->
      <form action="#" class="max-w-[500px] mx-auto flex flex-col gap-4 py-14">
        <label for="name">
          <span class="block py-2 text-xm">Name</span>
          <input
            class="w-[100%] py-3 px-2 bg-transparent border focus:border-lightSecondary rounded outline-none"
            type="text"
            id="name"
            placeholder="Enter your name"
          />
        </label>
        <label for="eamil">
          <span class="block py-2 text-xm">Email</span>
          <input
            class="w-[100%] py-3 px-2 bg-transparent border focus:border-lightSecondary rounded outline-none"
            type="email"
            id="eamil"
            placeholder="Enter your email"
          />
        </label>
        <label for="text">
          <span class="block py-2 text-xm">Message</span>
          <textarea
            rows="6"
            class="w-[100%] py-3 px-2 bg-transparent border focus:border-lightSecondary rounded outline-none"
            id="text"
            placeholder="Enter your message"
          ></textarea>
        </label>
        <input
          class="btn bg[linear-gradient(90deg, bg-lightPrimary , bg-lightSecondary )] text-dark px-12 hover:btn-info hover:border-transparent hover:text-neutral-800"
          type="submit"
          value="Send Message"
        />
      </form>
    </main>
    <!-- Footer Content  -->
    <footer>
      <div
        class="container mx-auto py-20 px-2 text-center flex flex-col gap-11"
      >
        <div class="flex gap-16 justify-center items-center">
          <a target="_blank" href="http://mailto:ifokhrul.2029@gmail.com">
            <i
              class="bi bi-envelope btn bg[linear-gradient(90deg, bg-lightPrimary , bg-lightSecondary )] text-dark text-2xl rounded-full pt-4 pb-10 text-center hover:bg-transparent hover:text-lightSecondary hover:border-lightSecondary"
            ></i>
            <p class="py-2 text-xm hover:text-lightSecondary">GMAIL</p>
          </a>
          <a target="_blank" href="https://www.linkedin.com/in/fokhrul2029/">
            <i
              class="bi bi-linkedin btn bg[linear-gradient(90deg, bg-lightPrimary , bg-lightSecondary )] text-dark text-2xl rounded-full pt-4 pb-10 text-center hover:bg-transparent hover:text-lightSecondary hover:border-lightSecondary"
            ></i>
            <p class="py-2 text-xm hover:text-lightSecondary">LINKEDIN</p>
          </a>
          <a target="_blank" href="https://github.com/fokhrul2029">
            <i
              class="bi bi-github btn bg[linear-gradient(90deg, bg-lightPrimary , bg-lightSecondary )] text-dark text-2xl rounded-full pt-4 pb-10 text-center hover:bg-transparent hover:text-lightSecondary hover:border-lightSecondary"
            ></i>
            <p class="py-2 text-xm hover:text-lightSecondary">GITHUB</p>
          </a>
        </div>
        <div class="flex gap-12 justify-center items-center">
          <a
            href="../../index.html"
            class="py-2 text-xm hover:text-lightSecondary"
            >Home</a
          >
          <a href="project.html" class="py-2 text-xm hover:text-lightSecondary"
            >Project</a
          >
        </div>
        <div>
          <p>WEB DEVELOPER 2024</p>
        </div>
      </div>
    </footer>
  </body>
</html>
